{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "@nuxtjs"
  ],
  "globals": {
    "createSpy": "writable",
    "createGroup": "writable",
    "createTest": "writable",
    "nuxtTestRunner": "writable"
  }
}
